In [29]:
import pandas as pd
from scipy.stats import trim_mean
import numpy as np

In [31]:
df=pd.read_csv("Part1_Crime_Beta_5307206680000182585.csv",low_memory=False)

In [33]:
df

,RowID,CCNumber,CrimeDateTime,CrimeCode,Description,Inside_Outside,Weapon,Post,Gender,Age,...,Old_District,New_District,Neighborhood,Latitude,Longitude,GeoLocation,PremiseType,Total_Incidents,x,y
0,1,15D05728,4/14/2015 3:20:00 PM,4E,COMMON ASSAULT,NaN,NaN,431,M,15.0,...,NORTHEAST,NaN,MAYFIELD,39.331378,-76.580758,"(39.331377771562259,-76.580758075098444)",PARK,1,-76.580758,39.331378
1,2,15D05705,4/14/2015 3:00:00 PM,6H,LARCENY,NaN,NaN,731,F,37.0,...,WESTERN,NaN,MONDAWMIN,39.318693,-76.654400,"(39.318692922502528,-76.654399892134563)",ATM MACHINES,1,-76.654400,39.318693
2,3,15D06020,4/14/2015 1:30:00 PM,7C,AUTO THEFT,NaN,NaN,523,F,54.0,...,NORTHERN,NaN,MID-GOVANS,39.355620,-76.609304,"(39.355620323353733,-76.609303524127284)",PARKING LOT-OUTSIDE,1,-76.609304,39.355620
3,4,15D05509,4/14/2015 3:07:00 AM,6D,LARCENY FROM AUTO,NaN,NaN,442,F,33.0,...,NORTHEAST,NaN,PARKSIDE,39.324435,-76.560800,"(39.324435277970515,-76.560799952610424)",STREET,1,-76.560800,39.324435
4,5,15D05895,4/14/2015 10:10:00 PM,5A,BURGLARY,NaN,NaN,311,F,26.0,...,EASTERN,NaN,GREENMOUNT WEST,39.311000,-76.611729,"(39.310999868123808,-76.61172934261586)",APT/CONDO - OCCUPIED,1,-76.611729,39.311000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638028,638029,13I09032,9/19/2013 12:20:00 PM,6D,LARCENY FROM AUTO,NaN,NaN,212,F,52.0,...,SOUTHEAST,NaN,DUNBAR-BROADWAY,39.293982,-76.595713,"(39.293981718561064,-76.595713340813674)",STREET,1,-76.595713,39.293982
638029,638030,13I08887,9/19/2013 12:44:00 AM,6C,LARCENY,NaN,NaN,441,NaN,NaN,...,NORTHEAST,NaN,PULASKI INDUSTRIAL AREA,39.302442,-76.543381,"(39.302441515644389,-76.543380557852529)",OTHER - INSIDE,1,-76.543381,39.302442
638030,638031,13I08874,9/19/2013 1:26:00 AM,6C,LARCENY,NaN,NaN,231,NaN,NaN,...,SOUTHEAST,NaN,BREWERS HILL,39.285292,-76.565738,"(39.285291836352449,-76.565738255301881)",CONVENIENCE STORE,1,-76.565738,39.285292
638031,638032,13I09631,9/19/2013 5:00:00 PM,6E,LARCENY,NaN,NaN,912,NaN,NaN,...,SOUTHERN,NaN,FAIRFIELD AREA,39.238598,-76.586958,"(39.238598264206033,-76.586958126477825)",STREET,1,-76.586958,39.238598
638032,638033,13I09155,9/19/2013 2:30:00 PM,5C,BURGLARY,NaN,NaN,412,M,36.0,...,NORTHEAST,NaN,EDNOR GARDENS-LAKESIDE,39.333021,-76.595626,"(39.333020660857393,-76.595626235656212)",ROW/TOWNHOUSE-OCC,1,-76.595626,39.333021

In [35]:
df.head()

,RowID,CCNumber,CrimeDateTime,CrimeCode,Description,Inside_Outside,Weapon,Post,Gender,Age,...,Old_District,New_District,Neighborhood,Latitude,Longitude,GeoLocation,PremiseType,Total_Incidents,x,y
0,1,15D05728,4/14/2015 3:20:00 PM,4E,COMMON ASSAULT,NaN,NaN,431,M,15.0,...,NORTHEAST,NaN,MAYFIELD,39.331378,-76.580758,"(39.331377771562259,-76.580758075098444)",PARK,1,-76.580758,39.331378
1,2,15D05705,4/14/2015 3:00:00 PM,6H,LARCENY,NaN,NaN,731,F,37.0,...,WESTERN,NaN,MONDAWMIN,39.318693,-76.654400,"(39.318692922502528,-76.654399892134563)",ATM MACHINES,1,-76.654400,39.318693
2,3,15D06020,4/14/2015 1:30:00 PM,7C,AUTO THEFT,NaN,NaN,523,F,54.0,...,NORTHERN,NaN,MID-GOVANS,39.355620,-76.609304,"(39.355620323353733,-76.609303524127284)",PARKING LOT-OUTSIDE,1,-76.609304,39.355620
3,4,15D05509,4/14/2015 3:07:00 AM,6D,LARCENY FROM AUTO,NaN,NaN,442,F,33.0,...,NORTHEAST,NaN,PARKSIDE,39.324435,-76.560800,"(39.324435277970515,-76.560799952610424)",STREET,1,-76.560800,39.324435
4,5,15D05895,4/14/2015 10:10:00 PM,5A,BURGLARY,NaN,NaN,311,F,26.0,...,EASTERN,NaN,GREENMOUNT WEST,39.311000,-76.611729,"(39.310999868123808,-76.61172934261586)",APT/CONDO - OCCUPIED,1,-76.611729,39.311000

In [37]:
df.describe()

,RowID,Age,Latitude,Longitude,Total_Incidents,x,y
count,638033.000000,515351.000000,636700.000000,636700.000000,638033.0,636700.000000,636700.000000
mean,319017.000000,37.930127,38.896965,-75.819649,1.0,-75.819649,38.896965
std,184184.406487,34.659845,4.000934,7.779735,0.0,7.779735,4.000934
min,1.000000,-7979.000000,-76.657031,-76.728558,1.0,-76.728558,-76.657031
25%,159509.000000,26.000000,39.287592,-76.648379,1.0,-76.648379,39.287592
50%,319017.000000,35.000000,39.302262,-76.613547,1.0,-76.613547,39.302262
75%,478525.000000,49.000000,39.326560,-76.585985,1.0,-76.585985,39.326560
max,638033.000000,8251.000000,39.375381,39.296969,1.0,39.296969,39.375381

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638033 entries, 0 to 638032
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   RowID            638033 non-null  int64
 1   CCNumber         638033 non-null  object
 2   CrimeDateTime    638033 non-null  object
 3   CrimeCode        638033 non-null  object
 4   Description      638033 non-null  object
 5   Inside_Outside   37723 non-null   object
 6   Weapon           166723 non-null  object
 7   Post             629894 non-null  object
 8   Gender           536109 non-null  object
 9   Age              515351 non-null  float64
 10  Race             607177 non-null  object
 11  Ethnicity        110769 non-null  object
 12  Location         634312 non-null  object
 13  Old_District     566413 non-null  object
 14  New_District     63563 non-null   object
 15  Neighborhood     629097 non-null  object
 16  Latitude         636700 non-null  float64
 17  Longitude        636700 non-null  float64
 18  GeoLocation      638033 non-null  object
 19  PremiseType      586168 non-null  object
 20  Total_Incidents  638033 non-null  int64
 21  x                636700 non-null  float64
 22  y                636700 non-null  float64
dtypes: float64(5), int64(2), object(16)
memory usage: 112.0+ MB

In [41]:
df.shape

(638033, 23)

In [43]:
df.dropna()

Empty DataFrame
Columns: [RowID, CCNumber, CrimeDateTime, CrimeCode, Description, Inside_Outside, Weapon, Post, Gender, Age, Race, Ethnicity, Location, Old_District, New_District, Neighborhood, Latitude, Longitude, GeoLocation, PremiseType, Total_Incidents, x, y]
Index: []

[0 rows x 23 columns]

In [11]:
df.shape

(638033, 23)

In [45]:
df.drop(['Inside_Outside', 'Weapon','New_District'], axis=1, inplace=True)

In [47]:
df.drop('Ethnicity',axis=1,inplace=True)

In [49]:
df.head()

,RowID,CCNumber,CrimeDateTime,CrimeCode,Description,Post,Gender,Age,Race,Location,Old_District,Neighborhood,Latitude,Longitude,GeoLocation,PremiseType,Total_Incidents,x,y
0,1,15D05728,4/14/2015 3:20:00 PM,4E,COMMON ASSAULT,431,M,15.0,BLACK_OR_AFRICAN_AMERICAN,3600 LAKE MONTEBELLO DR,NORTHEAST,MAYFIELD,39.331378,-76.580758,"(39.331377771562259,-76.580758075098444)",PARK,1,-76.580758,39.331378
1,2,15D05705,4/14/2015 3:00:00 PM,6H,LARCENY,731,F,37.0,BLACK_OR_AFRICAN_AMERICAN,2400 LIBERTY HEIGHTS AVE,WESTERN,MONDAWMIN,39.318693,-76.654400,"(39.318692922502528,-76.654399892134563)",ATM MACHINES,1,-76.654400,39.318693
2,3,15D06020,4/14/2015 1:30:00 PM,7C,AUTO THEFT,523,F,54.0,BLACK_OR_AFRICAN_AMERICAN,500 WOODBOURNE AVE,NORTHERN,MID-GOVANS,39.355620,-76.609304,"(39.355620323353733,-76.609303524127284)",PARKING LOT-OUTSIDE,1,-76.609304,39.355620
3,4,15D05509,4/14/2015 3:07:00 AM,6D,LARCENY FROM AUTO,442,F,33.0,BLACK_OR_AFRICAN_AMERICAN,4400 SHAMROCK AVE,NORTHEAST,PARKSIDE,39.324435,-76.560800,"(39.324435277970515,-76.560799952610424)",STREET,1,-76.560800,39.324435
4,5,15D05895,4/14/2015 10:10:00 PM,5A,BURGLARY,311,F,26.0,BLACK_OR_AFRICAN_AMERICAN,300 E NORTH AVE,EASTERN,GREENMOUNT WEST,39.311000,-76.611729,"(39.310999868123808,-76.61172934261586)",APT/CONDO - OCCUPIED,1,-76.611729,39.311000

In [51]:
df.isnull().sum()

RowID                   0
CCNumber                0
CrimeDateTime           0
CrimeCode               0
Description             0
Post                 8139
Gender             101924
Age                122682
Race                30856
Location             3721
Old_District        71620
Neighborhood         8936
Latitude             1333
Longitude            1333
GeoLocation             0
PremiseType         51865
Total_Incidents         0
x                    1333
y                    1333
dtype: int64

In [53]:
# Drop rows with missing latitude and longitude values
df.dropna(subset=['Latitude', 'Longitude'], inplace=True)

In [55]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

C:\Users\Vivek Chatla\AppData\Local\Temp\ipykernel_1440\2070712111.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
C:\Users\Vivek Chatla\AppData\Local\Temp\ipykernel_1440\2070712111.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

In [57]:
categorical_columns = ['PremiseType', 'Neighborhood', 'Race', 'Post', 'Old_District']
df[categorical_columns] = df[categorical_columns].fillna('Unknown')

In [59]:
df.isnull().sum()

RowID                 0
CCNumber              0
CrimeDateTime         0
CrimeCode             0
Description           0
Post                  0
Gender                0
Age                   0
Race                  0
Location           3256
Old_District          0
Neighborhood          0
Latitude              0
Longitude             0
GeoLocation           0
PremiseType           0
Total_Incidents       0
x                     0
y                     0
dtype: int64

In [61]:
df = df[(df['Age'] >= 0) & (df['Age'] <= 100)]

In [63]:
df = df[(df['Latitude'].between(39.2, 39.4)) & (df['Longitude'].between(-76.7, -76.5))]

In [65]:
df['CrimeDateTime'] = pd.to_datetime(df['CrimeDateTime'], errors='coerce')
df['Hour'] = df['CrimeDateTime'].dt.hour
df['DayOfWeek'] = df['CrimeDateTime'].dt.dayofweek
df['Month'] = df['CrimeDateTime'].dt.month

C:\Users\Vivek Chatla\AppData\Local\Temp\ipykernel_1440\3114496843.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['CrimeDateTime'] = pd.to_datetime(df['CrimeDateTime'], errors='coerce')

In [66]:
df

,RowID,CCNumber,CrimeDateTime,CrimeCode,Description,Post,Gender,Age,Race,Location,...,Latitude,Longitude,GeoLocation,PremiseType,Total_Incidents,x,y,Hour,DayOfWeek,Month
0,1,15D05728,2015-04-14 15:20:00,4E,COMMON ASSAULT,431,M,15.0,BLACK_OR_AFRICAN_AMERICAN,3600 LAKE MONTEBELLO DR,...,39.331378,-76.580758,"(39.331377771562259,-76.580758075098444)",PARK,1,-76.580758,39.331378,15.0,1.0,4.0
1,2,15D05705,2015-04-14 15:00:00,6H,LARCENY,731,F,37.0,BLACK_OR_AFRICAN_AMERICAN,2400 LIBERTY HEIGHTS AVE,...,39.318693,-76.654400,"(39.318692922502528,-76.654399892134563)",ATM MACHINES,1,-76.654400,39.318693,15.0,1.0,4.0
2,3,15D06020,2015-04-14 13:30:00,7C,AUTO THEFT,523,F,54.0,BLACK_OR_AFRICAN_AMERICAN,500 WOODBOURNE AVE,...,39.355620,-76.609304,"(39.355620323353733,-76.609303524127284)",PARKING LOT-OUTSIDE,1,-76.609304,39.355620,13.0,1.0,4.0
3,4,15D05509,2015-04-14 03:07:00,6D,LARCENY FROM AUTO,442,F,33.0,BLACK_OR_AFRICAN_AMERICAN,4400 SHAMROCK AVE,...,39.324435,-76.560800,"(39.324435277970515,-76.560799952610424)",STREET,1,-76.560800,39.324435,3.0,1.0,4.0
4,5,15D05895,2015-04-14 22:10:00,5A,BURGLARY,311,F,26.0,BLACK_OR_AFRICAN_AMERICAN,300 E NORTH AVE,...,39.311000,-76.611729,"(39.310999868123808,-76.61172934261586)",APT/CONDO - OCCUPIED,1,-76.611729,39.311000,22.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638028,638029,13I09032,2013-09-19 12:20:00,6D,LARCENY FROM AUTO,212,F,52.0,BLACK_OR_AFRICAN_AMERICAN,200 BEALE CT,...,39.293982,-76.595713,"(39.293981718561064,-76.595713340813674)",STREET,1,-76.595713,39.293982,12.0,3.0,9.0
638029,638030,13I08887,2013-09-19 00:44:00,6C,LARCENY,441,F,35.0,UNKNOWN,6200 PULASKI HWY,...,39.302442,-76.543381,"(39.302441515644389,-76.543380557852529)",OTHER - INSIDE,1,-76.543381,39.302442,0.0,3.0,9.0
638030,638031,13I08874,2013-09-19 01:26:00,6C,LARCENY,231,F,35.0,UNKNOWN,3700 FLEET ST,...,39.285292,-76.565738,"(39.285291836352449,-76.565738255301881)",CONVENIENCE STORE,1,-76.565738,39.285292,1.0,3.0,9.0
638031,638032,13I09631,2013-09-19 17:00:00,6E,LARCENY,912,F,35.0,UNKNOWN,3300 CHILDS ST,...,39.238598,-76.586958,"(39.238598264206033,-76.586958126477825)",STREET,1,-76.586958,39.238598,17.0,3.0,9.0
638032,638033,13I09155,2013-09-19 14:30:00,5C,BURGLARY,412,M,36.0,BLACK_OR_AFRICAN_AMERICAN,3700 THE ALAMEDA,...,39.333021,-76.595626,"(39.333020660857393,-76.595626235656212)",ROW/TOWNHOUSE-OCC,1,-76.595626,39.333021,14.0,3.0,9.0

In [71]:
df.drop_duplicates(inplace=True)

In [73]:
df.drop('Total_Incidents', axis=1, inplace=True)

In [75]:
df

,RowID,CCNumber,CrimeDateTime,CrimeCode,Description,Post,Gender,Age,Race,Location,...,Neighborhood,Latitude,Longitude,GeoLocation,PremiseType,x,y,Hour,DayOfWeek,Month
0,1,15D05728,2015-04-14 15:20:00,4E,COMMON ASSAULT,431,M,15.0,BLACK_OR_AFRICAN_AMERICAN,3600 LAKE MONTEBELLO DR,...,MAYFIELD,39.331378,-76.580758,"(39.331377771562259,-76.580758075098444)",PARK,-76.580758,39.331378,15.0,1.0,4.0
1,2,15D05705,2015-04-14 15:00:00,6H,LARCENY,731,F,37.0,BLACK_OR_AFRICAN_AMERICAN,2400 LIBERTY HEIGHTS AVE,...,MONDAWMIN,39.318693,-76.654400,"(39.318692922502528,-76.654399892134563)",ATM MACHINES,-76.654400,39.318693,15.0,1.0,4.0
2,3,15D06020,2015-04-14 13:30:00,7C,AUTO THEFT,523,F,54.0,BLACK_OR_AFRICAN_AMERICAN,500 WOODBOURNE AVE,...,MID-GOVANS,39.355620,-76.609304,"(39.355620323353733,-76.609303524127284)",PARKING LOT-OUTSIDE,-76.609304,39.355620,13.0,1.0,4.0
3,4,15D05509,2015-04-14 03:07:00,6D,LARCENY FROM AUTO,442,F,33.0,BLACK_OR_AFRICAN_AMERICAN,4400 SHAMROCK AVE,...,PARKSIDE,39.324435,-76.560800,"(39.324435277970515,-76.560799952610424)",STREET,-76.560800,39.324435,3.0,1.0,4.0
4,5,15D05895,2015-04-14 22:10:00,5A,BURGLARY,311,F,26.0,BLACK_OR_AFRICAN_AMERICAN,300 E NORTH AVE,...,GREENMOUNT WEST,39.311000,-76.611729,"(39.310999868123808,-76.61172934261586)",APT/CONDO - OCCUPIED,-76.611729,39.311000,22.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638028,638029,13I09032,2013-09-19 12:20:00,6D,LARCENY FROM AUTO,212,F,52.0,BLACK_OR_AFRICAN_AMERICAN,200 BEALE CT,...,DUNBAR-BROADWAY,39.293982,-76.595713,"(39.293981718561064,-76.595713340813674)",STREET,-76.595713,39.293982,12.0,3.0,9.0
638029,638030,13I08887,2013-09-19 00:44:00,6C,LARCENY,441,F,35.0,UNKNOWN,6200 PULASKI HWY,...,PULASKI INDUSTRIAL AREA,39.302442,-76.543381,"(39.302441515644389,-76.543380557852529)",OTHER - INSIDE,-76.543381,39.302442,0.0,3.0,9.0
638030,638031,13I08874,2013-09-19 01:26:00,6C,LARCENY,231,F,35.0,UNKNOWN,3700 FLEET ST,...,BREWERS HILL,39.285292,-76.565738,"(39.285291836352449,-76.565738255301881)",CONVENIENCE STORE,-76.565738,39.285292,1.0,3.0,9.0
638031,638032,13I09631,2013-09-19 17:00:00,6E,LARCENY,912,F,35.0,UNKNOWN,3300 CHILDS ST,...,FAIRFIELD AREA,39.238598,-76.586958,"(39.238598264206033,-76.586958126477825)",STREET,-76.586958,39.238598,17.0,3.0,9.0
638032,638033,13I09155,2013-09-19 14:30:00,5C,BURGLARY,412,M,36.0,BLACK_OR_AFRICAN_AMERICAN,3700 THE ALAMEDA,...,EDNOR GARDENS-LAKESIDE,39.333021,-76.595626,"(39.333020660857393,-76.595626235656212)",ROW/TOWNHOUSE-OCC,-76.595626,39.333021,14.0,3.0,9.0

In [81]:
df.to_csv("C:/Users/Vivek Chatla/OneDrive/Desktop/602_Project/Data_cleaned.csv", index=False)